In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import dataframe_image as dfi

In [2]:
df = pd.read_csv('bodyweight_workout_list.csv')

In [3]:
# print(df.info())

In [4]:
num_rows = len(df)
rows_per_split = num_rows // 3

# Create indices for shuffling
indices = np.arange(num_rows)
np.random.shuffle(indices)

# Split the indices into three parts
indices_split = np.array_split(indices, 3)

# Create three smaller DataFrames
smaller_dfs = []
for indices in indices_split:
    smaller_df = df.iloc[indices].reset_index(drop=True)
    smaller_dfs.append(smaller_df)

# Access the three smaller DataFrames
Day1 = smaller_dfs[0]
Day2 = smaller_dfs[1]
Day3 = smaller_dfs[2]

In [5]:
Day1

        Exercise  Sets Reps Rest
0  Russian Twist     3   20  30s
1          Squat     3   20  30s
2         Sit-Up     5  60s  60s
3          Plank     3  Max  30s
4         Burpee     3   20  30s
5  Jumping Lunge     3   20  30s

In [6]:
Day2

           Exercise  Sets          Reps Rest
0  Mountain Climber     5           60s  60s
1          Tri Dips     3            12  60s
2     Jumping Squad     3            20  30s
3      Spider Crawl     3  10(5 p side)  60s
4      Pistol Squat     3            14  30s
5        Side Plank     3             4  30s

In [7]:
Day3

                Exercise  Sets Reps  Rest
0  Step Up w/ Knee Raise     3   20   30s
1         Reverse Crunch     5  60s   60s
2              Long Jump     3    8   30s
3               Groiners     3   10   30s
4          Walking Lunge     3   20   30s
5               Push-Ups     3  Max  30s