In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import time 
from datetime import datetime, timedelta

start = time.perf_counter()

In [2]:
df = pd.read_csv('HeartWatch-Workouts-20230717-to-20230816.csv')

In [3]:
df = df.drop(['ISO', 'from', 'to', 'rpe', 'Load', 'bpm-lo', 'bpm-90%+-%', '90%+-mins',
              'bpm-80-90%-%', '80-90%-mins','bpm-70-80%-%', '70-80%-mins','bpm-60-70%-%',
              '60-70%-mins','bpm-50-60%-%', '50-60%-mins', 'bpm-%', 'bpm-hi', 'Cals',
               'Cals/h', 'km', 'km/h', '/km'], axis=1)
df.head()

                Date  Duration     Type  bpm-Avg.
0  Wednesday, Jul 19  00:30:04  Running     155.9
1   Thursday, Jul 20  00:36:56  Running     157.3
2     Friday, Jul 21  00:31:31  Running     152.8
3     Monday, Jul 24  01:12:34  Cycling     135.6
4    Tuesday, Jul 25  02:16:52  Cycling     143.6

In [4]:
# Convert the Duration column to timedelta
df["Duration"] = pd.to_timedelta(df["Duration"])

# Convert the timedelta to decimal hours and create a new column
df["Duration"] = df["Duration"].apply(lambda x: x.total_seconds() / 3600)

In [5]:
dfRun = df[df['Type'] == 'Running']
dfBike = df[df['Type'] == 'Cycling']
dfOther = df[~df['Type'].isin(['Running', 'Cycling'])]

In [6]:
dfRun.tail()

                Date  Duration     Type  bpm-Avg.
14    Tuesday, Aug 8  0.656667  Running     153.9
15  Wednesday, Aug 9  0.893333  Running     148.3
17    Friday, Aug 11  0.650833  Running     148.2
19    Monday, Aug 14  0.799444  Running     118.4
20   Tuesday, Aug 15  1.136389  Running     151.3

In [7]:
dfRun['Weighted HR'] = dfRun['Duration'] * dfRun['bpm-Avg.']

/var/folders/y_/8cmvsg791ys9qqbzj_yxrlj40000gn/T/ipykernel_4036/669151405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfRun['Weighted HR'] = dfRun['Duration'] * dfRun['bpm-Avg.']

In [8]:
dfRun.tail()

                Date  Duration     Type  bpm-Avg.  Weighted HR
14    Tuesday, Aug 8  0.656667  Running     153.9   101.061000
15  Wednesday, Aug 9  0.893333  Running     148.3   132.481333
17    Friday, Aug 11  0.650833  Running     148.2    96.453500
19    Monday, Aug 14  0.799444  Running     118.4    94.654222
20   Tuesday, Aug 15  1.136389  Running     151.3   171.935639

In [9]:
avg_weighted_hr = round(dfRun['Weighted HR'].sum() / dfRun['Duration'].sum(),2)

In [10]:
print(f'Average Weighted HR: {avg_weighted_hr}')
print(f'Runtime: {round(time.perf_counter() - start,2)}s')

Average Weighted HR: 148.55
Runtime: 0.04s